<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %}</title>
</head>
<body>
    <nav>
        <div>
            <a href="{% url 'home' %}">Home</a>
        </div>
        <div>
            <form method='GET'>
                <input type="text" name='user_search' placeholder='Search Title, Actor, director ...'>
                <button type='submit'>Search</button>
            </form>
        </div>
        <div>
            {% if user.is_authenticated %}
            <span>Hello {{ user.username }}</span>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Sign Up</a>
        {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    
</body>
</html>


